<%= form_tag orders_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<div class="panel-heading"><h3> <span class="label label-default">Listing orders</span></h3></div>
<div class="panel-body">
<div>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Order Image</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= best_in_place order, :title %></td>
          <td><%= best_in_place order, :description %></td>
          <td><%= image_tag order.avatar.url(:thumb)%></td>
          <td><%= link_to 'Show', order %></td>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>
<%= will_paginate @orders %>
<%= link_to 'New Order', new_order_path %>


<script>
$(document).ready(function() {
  $('.best_in_place').best_in_place();
})
</script>