<!DOCTYPE html>
<html>
<head>
  <title>Rails4</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body >
<nav class="navbar navbar-inverse" role="navigation">	
	<ul class="nav nav-pills"> 
		<% if user_signed_in? %>
			<li> <%= link_to('Edit registration', edit_user_registration_path) %>	</li>
			<li> <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
			<li> <%= link_to('Order list', orders_path) %> </li>
			<% if current_user.admin? %>
			  <li> <%= link_to('Go to admin page', admin_roles_path) %>	</li>
			<% end %>  
		<% else %>
		<li> <%= link_to('Login', new_user_session_path)  %> </li>
		<li> <%= link_to('Register', new_user_registration_path)  %> </li>
		<% end %>
	</ul>	
</nav>	
<div class="container">
  <div class="panel panel-default">	
    <%= yield %>
    <%= yield :role_sidebar %>
    <%= yield :role_main %>
  </div>  
</div>
</body>
</html>
